body{
    margin: 0 auto;
    padding: 0;
    background-color: rgba(5, 4, 4, 0.774);
    color: white;
}
#header{
    background-color: red;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}
table{
    margin: 5% auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
/* button{
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    border: none;
    transition-duration: 0.5s;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 1.5px 1px black;
} */

button{
    width: 20rem;
}
.button {
    margin-top: 2rem; 
	background-color: rgba(62, 207, 243, 0.616);
	border: 2px solid rgb(7, 7, 7);
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: black;	
    display: block;
    cursor: pointer;
}

.open{
    width: 50px;
    text-align: center;
    margin: 0 auto;

}

.bg-modal {
    width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
    top: 0;
    /* display: flex; */
    /* will be changed to none later, then we will in js, change display to flex and to none depending on action */
	display: none;
	justify-content: center;
    align-items: center;
}

.modal-contents{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 20rem;
    height: 500px;
    padding: 15px;
    position: relative;
    border-radius:4px;
    text-align: center;
    
}

input{
    margin: 20px auto;
    display: block;
    border: 1px solid gray;
}

label{
    display:block;
}

.radio-buttons{
    display: flex;
}
.radio{
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#delete{
    cursor: pointer;
}

#read{
    color: green;
    cursor: pointer;
}